@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  margin: 0;
  font-family: -apple-system, 'Montserrat', sans-serif;
  background: #f6f7f8;
  /* color: #474a55; */
}